.container {
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.linkContainer {
  a:not(:last-child) {
    margin-right: 20px;
  }
}
